@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

body {
  margin: 0;

}

.card-container {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 32vw;
  height: calc(32vw * 1.09);
  min-width: 400px;
  min-height: 436px;
  max-width: 800px;
  max-height: 872px;
  border-radius: 2px;
  background-color: rgb(240, 240, 240);
  box-shadow: inset 0 0 20px rgba(50,50,50,0.19);
  margin: auto;
  margin-top: 80px;
  overflow: hidden;
  opacity: 0;
  animation: fade-in 0.7s forwards linear 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 8.4%;
  left: 18.2%;
  height: 70%;
  width: 64%;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  cursor: grab;
  transform: translateX(0px);
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 13.335%;
  margin-bottom: 6%;
}

.arrow {
  width: 32%;
  height: 100%;
  opacity: 0.1;
  transition: opacity 0.2s;
  background-size: cover;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.6;
}

.photo-dots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.dot {
  border-radius: 50%;
  width: 11%;
  height: 15.13%;
  background-color: rgb(200, 200, 200);
  opacity: 0.2;
  transition: opacity 0.2s;
}

.active-dot {
  opacity: 1;
}

.back {
  background-image: url('back.png');
}

.next {
  background-image: url('next.png');
}

.overlay {
  position: absolute;
  background-size: contain, cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

#texture {
  background-image: url('paper_texture.png');
  opacity: 0.5;
  z-index: 0;
}

#tick {
  background-image: url('tick.jpg');
  opacity: 0;
  z-index: 2;
}

#cross {
  background-image: url('cross.jpg');
  opacity: 0;
  z-index: 2;
}

.photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.2)), url('meGuitar.jpg');
  background-size: auto 100%;
  height: 77%;
  width: 90%;
  margin-top: 6%;
  z-index: 1;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 246, 246);
  height: 23%;
  width: 96%;
  font-family: 'Homemade Apple', cursive;
}

.name-text {
  margin: 0 12px;
  font-size: 2vw;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen and (min-width: 2500px) {
  .name-text  {
     font-size: 50px;
  }
}

@media screen and (max-width: 1250px) {
  .name-text  {
     font-size: 25px;
  }
}
