@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

body {
  margin: 0;

}

.card-container {
  position: relative;
  height: 600px;
  width: 550px;
  background-color: rgb(240, 240, 240);
  margin: auto;
  margin-top: 80px;
  overflow: hidden;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: calc(50% - 250px);
  left: calc(50% - 175px);
  height: 70%;
  width: 64%;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  cursor: grab;
  transform: translateX(0px);
}

.overlay {
  position: absolute;
  background-size: contain, cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

#tick {
  background-image: url('tick.jpg');
  opacity: 0;
}

#cross {
  background-image: url('cross.jpg');
  opacity: 0;
}

.photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.2)), url('meGuitar.jpg');
  background-size: auto 100%;
  height: 77%;
  width: 90%;
  margin-top: 6%;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 23%;
  width: 96%;
  font-family: 'Homemade Apple', cursive;
}

.name-text {
  margin: 0 12px;
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
