@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

body {
  margin: 0;
}

.overlay {
  position: fixed;
  height: 0%;
  width: 0%;
  background-color: black;
  opacity: 0;
  z-index: 3;
  transition: opacity 0.3s;
}

.overlay-active {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.swipe-container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  height: calc(32vw * 1.09);
  min-height: 436px;
  max-height: 872px;
  transition: filter 0.3s;
  opacity: 0;
  animation: fade-in 0.7s forwards linear 0.2s;
}

.blur {
  filter: blur(4px);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-container {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 32vw;
  height: 100%;
  min-width: 400px;
  max-width: 800px;
  border-radius: 2px;
  background-color: rgb(240, 240, 240);
  box-shadow: inset 0 0 20px rgba(50,50,50,0.19);
  overflow: hidden;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 8.4%;
  left: 18.2%;
  height: 70%;
  width: 64%;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  cursor: grab;
  transform: translateX(0px);
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 13.335%;
  margin-bottom: 6%;
}

.arrow {
  width: 32%;
  height: 100%;
  opacity: 0.1;
  transition: opacity 0.2s;
  background-size: cover;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.6;
}

.photo-dots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.dot {
  border-radius: 50%;
  width: 11%;
  height: 15.13%;
  background-color: rgb(200, 200, 200);
  opacity: 0.2;
  transition: opacity 0.2s;
}

.dot-active {
  opacity: 1;
}

.back {
  background-image: url('back.png');
}

.next {
  background-image: url('next.png');
}

.card-overlay {
  position: absolute;
  background-size: contain, cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

#texture {
  background-image: url('paper_texture.png');
  opacity: 0.5;
  z-index: 0;
}

#tick {
  background-image: url('tick.jpg');
  opacity: 0;
  z-index: 2;
}

#cross {
  background-image: url('cross.jpg');
  opacity: 0;
  z-index: 2;
}

.photo-container {
  position: relative;
  height: 77%;
  width: 90%;
  margin-top: 6%;
  z-index: 1;
  overflow: hidden;
}

.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s;
}

.img-active {
  opacity: 1;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 246, 246);
  height: 23%;
  width: 96%;
  font-family: 'Homemade Apple', cursive;
}

.name-text {
  margin: 0 12px;
  font-size: 2vw;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 2500px) {
  .name-text  {
     font-size: 50px;
  }
}

@media screen and (max-width: 1250px) {
  .name-text  {
     font-size: 25px;
  }
}

.side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 100%;
  min-width: 250px;
  max-width: 500px;
}

.media-link {
  height: 25%;
  width: 80%;
  opacity: 0.2;
  user-select: none;
  object-fit: contain;
  pointer-events: none;
  transition: opacity 0.2s;
}

.media-active {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
  transition: transform 0.15s;
}

.media-active:hover {
  transform: scale(1.05, 1.05);
}

.media-modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 6;
 }

.yt-modal {
  padding-top: 28.25%;
}

.sc-modal {
  padding-top: 0%;
}

.yt-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sc-player {
  width: 100%;
  height: 100%;
}

.modal-active {
  opacity: 1;
}
